.future-events {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.future-events * {
  box-sizing: border-box;
}

.events {
  width: 325px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event:not(:last-child) {
  margin-bottom: 20px;
}

.event > a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  text-align: left;
}

.event-buttons {
  min-width: 64px;
}

.copy-event-btn,
.delete-event-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  position: relative;
}

.copy-event-btn > svg,
.delete-event-btn > svg {
  stroke: white;
}

.delete-event-btn:hover > svg {
  transition: transform 0.2s ease-out;
  transform: translateX(4px);
  fill: red;
}

.copy-text {
  position: absolute;
  left: -80px;
  top: -10px;
  width: 200px;
  color: white;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.text-visible {
  opacity: 1;
  top: -20px;
}

.new-event-btn {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 48px;
  padding: 20px;
  margin-top: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
}

.delete-modal {
  position: absolute;
  background-color: hsl(212deg 52% 30%);
  padding: 40px;
  width: 325px;
  left: calc(calc(100vw / 2) - 200px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1);
  font-weight: 600;
}

.delete-text {
  margin-bottom: 24px;
  font-size: 24px;
}

.delete-buttons {
  display: flex;
  justify-content: space-around;
}

.delete-buttons > button {
  padding: 12px 36px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
