.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    0deg,
    hsl(229deg 53% 14%) 0%,
    hsl(212deg 52% 30%) 50%,
    hsl(202deg 55% 45%) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
